
  h1 {
    font-family: "Impact", Charcoal, sans-serif;
    font-size: 50px;
    font-style: none;
    font-weight: normal;
    color: turquoise
  }

  body {
    background-image: url("https://thumbs.gfycat.com/FairImmaterialCatbird-size_restricted.gif");
    background-position: right top;
    background-repeat: repeat-x
  }
